
.tabPanelItem {
    min-height: 85px;
    border-bottom: 1px solid #000;
    border-bottom-style: dashed;
    align-items: center;
    justify-content: center;
}

.typeIcon {
    width: 49px;
    height: 49px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.typeIcon svg {
    font-size: 25px;
    color: #7d68b1;
}

.titleContainer {
    display: flex;
    flex-direction: column !important;
    align-items: flex-start;
}

.priceContainer {
    display: flex;
    flex-direction: column !important;
    align-items: flex-end;
}