.navBar {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.navItem {
    justify-content: center !important;
    cursor: pointer;
    font-size: 21px;
}

.avatar {
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.avatar img {
    width: 70%;
}

.arrowIcon {
    justify-content: right !important;
    font-size: 30px;
    cursor: pointer;
}